<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="detailmovie-container">
			<div class="movie_poster">
				<img class="movie-img" src="/uploads/<%= movie.img %>" alt="" />
			</div>
			<div class="movie_info">
				<p class="title"><%= movie.title %></p>
				<h3>The Synopsis</h3>
				<p class="synopsis"><%= movie.synopsis %></p>
				<p class="release-date"><%= movie.releaseDate %></p>
				<p class="rating">☆ <%= movie.rating %></p>
				<p class="sub_title">Genre:</p>
				<% movie.genre.forEach( eachGenre => { %>
				<span class="eachCast">⦿ <%= eachGenre %></span>
				<% }) %>
				<p class="sub_title">Casts:</p>
				<% movie.casts.forEach( eachCast => { %>
				<span class="eachCast">⦿ <%= eachCast %> </span>
				<% }) %>

				<div class="button_contianer">
					<a href="/movies/editMovie/<%= movie.id %>"
						><button>Edit</button></a
					>
					<a href="/movies/delete/<%= movie.id %>"
						><button>Delete</button></a
					>
				</div>

				<div class="comment_container">
					<form
						action="/movies/comments/<%= movie.id %>"
						method="POST"
					>
						<input
							type="text"
							name="text"
							placeholder="Add your review here..."
						/>
						<input
							class="submit_button"
							type="submit"
							value="Add Comment"
						/>
					</form>

					<% movie.comments.forEach( comment => {%>
					<span><%= userDetail.name %></span>
					<p>→ <%= comment.text %></p>

					<%})%>
				</div>
			</div>
		</div>
	</body>
</html>
