<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<%- include('partials/header.ejs') %>
		<main>
			<div class="detailmovie-container">
				<div class="movie_poster">
					<img
						class="movie-img"
						src="/images/<%= movie.img %>"
						alt=""
					/>
				</div>
				<div class="movie_info">
					<div class="movie-header">
						<p class="title"><%= movie.title %></p>
						<p class="creator">🖋<%= movie.creator.name %></p>
					</div>
					<div class="movie-detail-content">
						<!-- Rating -->
						<div class="rating-date">
							<div>
								<% for(let i=0; i< movie.rating; i++ ) { %>
								<p class="rating">
									<img src="/images/star-60.png" alt="" />
								</p>
								<% }%>
							</div>
							<!-- Release Date -->
							<p class="release-date">
								<%= moment(movie.releaseDate).format("MMM YYYY")
								%>
							</p>
						</div>
						<h3>The Synopsis</h3>
						<p class="synopsis"><%= movie.synopsis %></p>
						<!-- Genre -->
						<p class="sub_title">Genre:</p>
						<% movie.genre.forEach( eachGenre => { %>
						<span class="each-cast"
							><img src="/images/state-48.png" alt="" /> <%=
							eachGenre %></span
						>
						<% }) %>
						<!-- Casts -->
						<p class="sub-title">Casts:</p>
						<% movie.casts.forEach( eachCast => { %>
						<span class="each-cast"
							><img
								class="mask"
								src="/images/mask-60.png"
								alt=""
							/>
							<%= eachCast %>
						</span>
						<% }) %>
						<br />
					</div>

					<% if(currentUser.name === movie.creator.name ) { %>
					<div class="button-contianer">
						<a href="/movies/editMovie/<%= movie.id %>"
							><button>Edit</button></a
						>
						<a href="/movies/delete/<%= movie.id %>"
							><button>Delete</button></a
						>
					</div>
					<% } %>

					<div class="comment-container">
						<form
							action="/movies/comments/<%= movie._id %>"
							method="POST"
						>
							<input
								type="text"
								name="text"
								placeholder="Add your review here..."
							/>
							<input
								class="submit-button"
								type="submit"
								value="Add Comment"
							/>
						</form>

						<% movie.comments.forEach( comment => {%>
						<div class="each-comment">
							<span class="comment-author"
								><%= comment.author.name %></span
							>
							<span class="comment-text">
								<%= comment.text %></span
							>
						</div>
						<%})%>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
